@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Open Sans', sans-serif; */

.navbar {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  border-bottom: solid gray !important;
}

.collapse ul {
  margin-left: 35rem;
}

.nav-link {
  font-weight: 300 !important;

}

.active {
  border-bottom: 2px solid black;

}

.navbar-brand {
  font-weight: 700;
  font-family: 'roboto', sans-serif;
  letter-spacing: 3px;
}

ul {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

ul li {
  list-style: none;

}

ul li a {
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}

ul li a:hover {
  color: pink;
  border-bottom: 2px solid pink;
}



.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}

.pnf-btn:hover {
  background-color: black;
  color: white;
}

/* Contact Page */

.container-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding: 4rem 5%;
}

.img {
  flex: 1 1 30rem;

}

.img>img {
  width: 100%;
  height: 100%;
}

.content {
  flex: 1 1 30rem;
}

.content h1 {
  background: #333;
  width: 300px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
}

.content p {
  color: #333;
  font-size: 1.2rem;
}

/* form */


.form {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 500px;
  justify-content: center;
  align-items: center;
  margin: 0.5rem auto;
  /* background: #333; */
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.form h1 {
  font-size: 2.3rem;
  font-weight: lighter;
  /* margin-top: -4rem; */
  background: #333;
  color: #fff;
  width: 500px;
  text-align: center;
  padding: 0.5rem 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0 4px 5px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
  padding: 40px;
  border-radius: 2rem;
}

form>label {
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  padding-bottom: 0.3rem;
  padding-top: 0.5rem;
}

form>input {
  outline: none;
  border: none;
  border-radius: 0.5rem;
  background: #eee;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0 4px 3px;

}

form>button {
  margin-top: 1.5rem;
}


/* Spiner */


.spinner {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  /* margin: 0rem auto; */
  background: #333;
}

.admin {
  position: absolute;
  top: 0.5rem;
  left: 90%;
  margin-left: 2rem;
  text-transform: capitalize;
  margin-top: 0.5rem;

}

.admin a {
  text-decoration: none;
  color: #333;
}


@media(max-width:1290px) {
  .collapse ul {
    margin-left: 30rem;
  }
}

@media(max-width:1024px) {
  .collapse ul {
    margin-left: 18rem;
  }

  .admin {
    left: 84% !important;
  }

}

@media(max-width:620px) {

  .admin {
    left: 75% !important;
  }

}

@media(max-width:400px) {

  .admin {
    left: 63% !important;
  }

}

/* product link*/
.product-div {
  display: flex !important;
  flex-wrap: wrap !important;
  /* justify-content: center !important; */
  padding: 2rem 0.5rem;

}

.product-link {
  text-decoration: none !important;
  color: #333 !important;
}